header {
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: space-between;
    align-items: center;

    border: 2px solid red;
}
nav {
    display: flex;
    align-items: center;
    gap: 32px ;
}

main {
    width: 100%;
    display: flex;
    padding: 112px 64px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}
.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
.btn-wreaper {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}
.img-content {
    display: flex;
    height: 720px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    aspect-ratio: 16/9;
}
.footer {
    display: flex;
   width: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    align-self: stretch;

    border: 2PX SOLID red;
}
.footer-nav {
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border: 2px solid blue;
}
.links {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    justify-content: center;
}
.logo-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
}
.social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;    
}
.terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}